<%@ include file="/WEB-INF/jsp/init.jsp" %>

<!-- Freetext -->
<div class="free-text">
	<h1>HTML text</h1>
	<p>This is used all over the place to render user-provided HTML contents. 
	It will generally contains paragraphs, lists, tables, etc.</p>
	<p>This, for example, is a normal <code>&lt;p&gt;</code> with a <a href="#">link</a>
	to some other content.</p>
	<h2>H2</h2>
	<p>
		Content <b>bold</b> and so on
	</p>
	<h3>H3</h3>
	<h3>Unordered list</h3>
	<ul>
		<li>Item 1</li>
		<li>Item 2</li>
		<li>Item 3</li>
	</ul>
	<h3>Ordered lists</h3>
	<ol>
		<li>Item 1</li>
		<li><a href="#">Item with a link</a> and no link</li>
		<li>Item with <a href="#">some link</a></li>
	</ol>
	<h2>Tables</h2>
	<table>
		<thead>
			<tr>
				<td>Heading</td>
				<td>Heading</td>
				<td>Heading</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Cell</td>
				<td>Cell</td>
				<td>Cell</td>
			</tr>
			<tr>
				<td>Cell</td>
				<td>Cell</td>
				<td>Cell</td>
			</tr>
			<tr>
				<td>Cell</td>
				<td>Cell</td>
				<td>Cell</td>
			</tr>
			<tr>
				<td>Cell</td>
				<td>Cell</td>
				<td>Cell</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="mcboatface">Dynamic (user-provided) HTML content always uses a <code>&lt;div class="free-text" ...&gt;</code> 

</div>
